<header class="page-header">
  <h1>
    <%= fa('gears') %> Setting Type
    <small>
      <%= link_to(@setting_type.name, setting_type_path(@setting_type)) %>
    </small>
  </h1>
</header>

<div class="actions">
  <%= link_to(fa('pencil-square-o') + ' Edit', edit_setting_type_path(@setting_type), :class => 'btn btn-default') %>
  <%= link_to(fa('close') + ' Delete', setting_type_path(@setting_type), :method => :delete, :class => 'btn btn-danger') %>
</div>


<h2>Settings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Key</th><th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td><td><%= @setting_type.id %></td>
    </tr>
    <% @setting_type.settings.each do |setting| %>
      <tr>
        <td><%= setting.key %></td><td><%= setting.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

