<%= render :partial => 'admin/shared/errors', :locals => { :object => template_layout } %>

<%= form_for([:admin, template_layout]) do |f| %>

  <% if template_layout.persisted? %>
    <div class="form-group">
      <h2 class="form-control-static"><em>ID:</em> <%= template_layout.id %></h2>
    </div>
  <% end %>

  <!-- Template Layout -->
  <div class="form-group">
    <%= f.label(:name) %>
    <%= f.text_field(:name, :class => 'form-control') %>
  </div>

  <!-- Data File -->
  <%= f.fields_for(:data_file) do |data_file_fields| %>
    <div class="form-group">
      <%= data_file_fields.label(:body) %>
      <%= data_file_fields.text_area(:body, :class => 'form-control') %>
    </div>
    <%= data_file_fields.hidden_field(:file_type_id) %>
    <%= data_file_fields.hidden_field(:data_fileable_type) %>
    <%= data_file_fields.hidden_field(:data_fileable_id) %>
  <% end %>

  <%= f.submit(:class => 'btn btn-success') %>
<% end %>

