<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if signed_in_user? %>
        <%= link_to(fa('dashboard') + ' Dashboard', admin_path, :class => 'navbar-brand') %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to(fa('home') + ' Home', root_path) %>
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if signed_in_user? %>

          <li>
            <%= link_to(fa('user') + ' Users', admin_users_path) %>
          </li>
          <li>
            <%= link_to(fa('gears') + ' Setting Types', admin_setting_types_path) %>
          </li>
          <li>
            <%= link_to(fa('link') + ' Slugs', admin_slugs_path) %>
          </li>
          <li>
            <%= link_to(fa('file') + ' Pages', admin_pages_path) %>
          </li>
          <li>
            <%= link_to(fa('file-o') + ' Template Layouts', admin_template_layouts_path) %>
          </li>
          <li>
            <%= link_to(fa('file-code-o') + ' Partials', admin_partials_path) %>
          </li>
          <li>
            <%= link_to(fa('power-off') + ' Logout', session_path, :method => :delete) %>
          </li>

        <% else %>

          <li>
            <%= link_to(fa('power-off') + ' Login', login_path) %>
          </li>
          
        <% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

